/*

Wireframe:
Background image of room
Text box : Place for text adventure text to appear/ general game text e.g. (“door locked / “inventory full” and general game output that doesn't provide user interaction.)
Interaction box : where we build user interaction, e.g. keypad enlarged, interaction with doors, buttons to interact with the text options/ other user interaction
Item box: for the items to be added to the room, scissors etc
Footer : Accessibility options / general options that should always exist

*/

.header{grid-area: hd;}
.textBox {grid-area: textb; }
.interactionBox {grid-area: ib;}
.itemBox {grid-area: itemb;}
.footer {grid-area: ft}


.wrapper{

    display: grid;
    grid-template-columns: 50% 50%;

    grid-template-areas: 

        "hd hd"
        "textb text b"
        "ib itemb"
        "ft ft";
       
      }

  *{
    font-size: 15px;
    color: black;
    font-family: 'Space Grotesk', 'Arial Narrow', Arial, sans-serif;

    }

    body{

      background-color: gray;
    }

    .header{

      background-color: rgb(3, 52, 88);

    }

    .textBox{

      background-color: orangered;
    }

    .interactionBox{

      background-color: orangered;
    }

    .itemBox{

      background-color: rgb(3, 52, 88);
    }

    .footer{

      background-color: gray;
    }