/*

Wireframe:
Background image of room
Text box : Place for text adventure text to appear/ general game text e.g. (“door locked / “inventory full” and general game output that doesn't provide user interaction.)
Interaction box : where we build user interaction, e.g. keypad enlarged, interaction with doors, buttons to interact with the text options/ other user interaction
Item box: for the items to be added to the room, scissors etc
Footer : Accessibility options / general options that should always exist

*/

.header{grid-area: hd;}
.textBox {grid-area: textb; }
.interactionBox {grid-area: ib;}
.itemBox {grid-area: itemb;}
.footer {grid-area: ft}


.wrapper{

          display: grid;
          grid-template-columns: 50% 50%;

          grid-template-areas: 

              "hd hd"
              "textb text b"
              "ib itemb"
              "ft ft";
            
        }

  *{
          font-size: 15px;
          color: black;
          font-family: 'Space Grotesk', 'Arial Narrow', Arial, sans-serif;

        }

  body{

            background-color: gray;
            background-image: url("room1img.jpg");
        }

  .header{

            background-color: rgb(35, 150, 233);
            border: 20px;
            padding-top: 2px;
            padding-bottom: 1px;
            padding-left: 5px;
            padding-right: 5px;

            margin-bottom: 5px;
            


        }

  .textBox{

            opacity: 0.8;
            background-color: rgb(255, 68, 0);
            margin: 40px;
            border: 1px solid black;

            font-weight: 900;
            font-size: 75%;
        }

          .interactionBox{

            background-color: orangered;
          }

          .itemBox{

            background-color: rgb(3, 52, 88);
          }

          .footer{

            background-color: gray;
          }

         

          #spanner{


            background-image: url("spanner.png");
            opacity: 0.7;
            width: 100px;
            height: 100px;
          }