

.header{grid-area: hd;}
.leftCol {grid-area: lc; }
.rightCol {grid-area: rc;}
.footer {grid-area: ft;}


.wrapper{

    display: grid;
    grid-template-columns: 50% 50%;

    grid-template-areas: 

        "hd hd"
        "lc rc"
        "ft ft";
       
      }

  *{
    font-size: 15px;
    color: black;
    font-family: 'Space Grotesk', 'Arial Narrow', Arial, sans-serif;



    }